.btn_first, [type=submit]{
    background: #C30967;
    border-radius: 4px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 45px;
    border: 1px solid #C30967;
    @include media-breakpoint-down(md){
        white-space: normal;
    }
    &:hover{ 
        background: transparent;
        color: $first;
        border: 1px solid $first;
    }
    @media screen and (max-width: 992px){
        padding: 11px 19px;
    }
}
