
.content{
    .form-control{
        border: none;
        border-radius: 0;
        border-bottom: 3px solid #f3f4f4;
        color: #949494;
        @include rhythm(21, 25);
    }
    input, textarea{
        @include placeholder {
            color: #949494;
            @include rhythm(21, 25);
        }
        padding: 9.6px 20px;
    }
    input[type="submit"]{
        margin-top: 2rem;
        padding: 19.5px 50px;
    }
}