
a {
    color: $primary;
    transition: 0.3s ease all;
    font-weight: 700;
    &:hover {
        transition: 0.3s ease all;
        color: darken($first, 15%);
    }
}
@include media-breakpoint-down(sm) {
    * {
        font-size: 14px;
    }
}
:focus {
    outline: none;
    box-shadow: none !important;
}


section, footer {
    padding: $padding-default;
    @include media-breakpoint-down(sm) {
        padding: $padding-mobile;
    }
}

h1, h2, h3, h4, h5, h6{
    color: $first;
}
h1{
    font-weight: bold;
    @include rhythm(36,49);
    @include media-breakpoint-down(md){
        @include rhythm(24,33);

    }
}
h2{
    font-weight: 800;
    @include rhythm(24,33);
    margin-bottom: 22px;
}
.btn{
    margin-top: 22px;
}
p, li, span, a{
    font-style: normal;
    font-weight: normal;
    @include rhythm(16,32);
    color: #5E5E5E;
    & + p, + li{
        margin-top: 20px;
    }
}
p > a, span a{
    color: #C30967;
    text-decoration: underline;
    font-weight: 700;
}
.new_home{
    background: rgba(241, 241, 241, 0.5);
    @include media-breakpoint-down(md){
        background: #F1F1F1;
    }
}
.live{
    padding-top: 0;
    @include media-breakpoint-up(md){
        background: rgba(241, 241, 241, 0.5);
    }
    h3{
        font-weight: bold;
        margin-bottom: 22px;
        @include rhythm(20,24);
    }
    p + p {
        margin-top: 0;
        margin-bottom: 20px;
    }
    p:last-child{
        margin-top: 20px !important;
    }
    @include media-breakpoint-down(md){
        .order-xs-1{
            margin-bottom: 22px;
        }
    }
}
.now{
    background: #F1F1F1;
    @include media-breakpoint-down(md){
        .slick-slider {
            padding: 0 40px;
        }
    }
    .slick-dots li button:before{
        font-size: 35px;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #C30967;
    }
    .slick-dots{
        position: relative;
    }
}
.carousel_now{
    padding: 2rem 0;
    .item{
       
        padding: 40px 10px;
        p{
            @include rhythm(14,25);
        }
        h3{
            font-weight: bold;
            @include rhythm(24,33);
            padding: 30px 0;
        }
        
    }
    .slick-slide{
        background: #FFFFFF;
        border-radius: 4px;
        text-align: center;
        @include media-breakpoint-up(md){
            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }
        img{
            -webkit-transition: opacity .5s ease-in;
            -moz-transition: opacity .5s ease-in;
            -ms-transition: opacity .5s ease-in;
            -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
        }
        &:hover{
            img{
                opacity: .8;
                -webkit-transition: opacity .5s ease-in-out;
                -moz-transition: opacity .5s ease-in-out;
                -ms-transition: opacity .5s ease-in-out;
                -o-transition: opacity .5s ease-in-out;
                transition: opacity .5s ease-in-out;
            }
        }
    }
    @include media-breakpoint-up(lg){
        .slick-list{
            align-items: stretch;
            height: 100%;
            display: flex;
        }
    }
}

 
.box{
    background: #F1F1F1;
    border-radius: 32px;
    padding: 24px;
    @include media-breakpoint-down(md){
        border-radius: 0;
    }
    .form-control{
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
        padding: 15px 10px;
    }
    p{
        color: #000;
    }
    h3{
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
    }
    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
    [type=submit]{
        width: 100%;
        cursor: pointer;
        @media screen and (min-width: 1199px) and (max-width: 1680px){
            font-size: 12px;
            padding: 11px 28px;
        }
        @include media-breakpoint-down(md){
            padding: 11px 9px;
        }
    }
}
div.wpcf7 .wpcf7-submit:disabled{
    background: #bdb8b8;
    border-color: #bdb8b8;
}
.about {
    p{
        color: #000;
    }
}
.partners{
    p{
        margin-bottom: 3rem;
    }
    h3{
        font-size: 20px; 
        margin-bottom: 0;
        border-bottom: 10px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, #007830, #05C46A);
        line-height: 40px;
        @include media-breakpoint-down(md){
            font-size: 10px;
            line-height: 20px;
        }
    }
    .logos{
        margin: 1rem 0 2rem 0;
        padding-left: 0;
        @include media-breakpoint-down(md){
            padding: 0 10px;
        }
    }
    img{
        //max-width: 160px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md){
            max-width: 100%;
        }
    }
    #banco{
        img{
        //max-width: 50%;
        }
    }
}
nav{
    background-image: linear-gradient(180deg,#05c46a,#058b5a);
    li + li{
        margin-top: 0;
    }
    li{
        a{
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 100%;
                text-align: center;
                color: #F2F2F2;
            }
        }
    }
    .navbar-brand{
       
        img{
            margin-top: -3rem;
            position: absolute;
            @media screen and (max-width: 1199px){
                margin-left: -3rem;
            }
        }
    }
}

@include media-breakpoint-up(md){
    .form-group > label{
        display: none;
    }
}
label{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #5E5E5E;
}
footer{
    .list-inline{
        padding-bottom: 1rem;
        border-bottom: 1px solid #05C46A;
    }
    .nav{
        text-align: center;
        @include media-breakpoint-up(md){
            -webkit-column-count: 3;
            -moz-column-count: 3;
                 column-count: 3;
                 display: inline-block;
                li{
                    display: inline-block;
                    text-align: center;
                    & + li{
                        margin-top: 0;
                    }
                }
        }
        li {
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                align-items: center;
                text-decoration-line: underline;
                color: #F2F2F2;
            }
        }
        margin-bottom: 3rem;
    }
    p{
        font-size: 14px;
        & > a{
            color: #fff;
            font-weight: 400;
            font-size: 14px;

            text-decoration: underline;
            &:hover{
                color: #fff;
            }
        }
    }
}
.menufooter{
    a{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        text-decoration-line: underline;
        display: block;
        color: #F2F2F2;
        margin-bottom: 2.5rem;
    }
}
.countdown{
    h2, span{
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 68px;
        @media screen and (max-width: 992px){
            font-size: 30px;
        }
    }
    span{
        background-image: url('../img/count.png');
        padding: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        font-weight: 700;
        padding: 11px;
        @media screen and (min-width: 992px){
            letter-spacing: -9px;
            height: 191px;
            padding: 21px;
        }
        background-position: center;
    }
}
.ofertas_call{
    background: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    padding: .8rem 1rem;
    .btn{
        margin: 0;
        &:focus{
            background: #C30967;
        }
    }
}
#ofertas_m{
    z-index: 9999;
    position: relative;
}
@media (min-width: 1200px){
.col-xl-3 {
flex: 0 0 27%;
max-width: 39%;
}
}
@media screen and (max-width: 767px){
    .navbar-nav{
        height: 100vh;
        li{
            margin-bottom: 2rem;
           a span{
                font-size: 2rem;
            }
        }
    }
}
div.wpcf7 .ajax-loader{
    display: none;
}
.content{
    h1{
        margin-bottom: 2rem;
    }
    h2, h2 span{
        color: #000;
        font-size: 1.5rem;
        line-height: 33px;
        font-weight: 700;
        margin-top: 1.5rem;
    }
    a, a span{
        color: #C30967;
        text-decoration: underline;
    }
}
@media screen and (min-width: 992px){
    .conquer{
        p + p{
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 992px){
.content{
        span {
            overflow-wrap: break-word;
        }
    }
}