@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

// Mixins
%font_1{
    font-family: 'Open Sans', sans-serif;
}
$margin_default: 32.5px;

//font size 
@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
  
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
  
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}

@mixin btn($color: $first, $background: $second, $colorHover: $first, $bgHover: $first, $padding: 22px 35px){
    color: $color;
    border-color: $color;
    background: $background;
    padding: $padding;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        color: $colorHover;
        border-color: $color;
        background: $bgHover;
    }
}





%color_first{
    color: $first;
}

//btn 
%btn{
    border-radius: $border-radius-default;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    @include rhythm(16, 26);
    @include media-breakpoint-up(lg){
        @include rhythm(18, 26);
    }
    text-align: center;
    border-width: 1px;
    border-style: solid;
   
}


//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}




