
.nav-down, .navbar-brand{
    opacity: 1;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
.navbar-brand{
    height: auto;
    top: auto;
}
.hide{
    height: 0;
    top: -1000px;
}

.nav-up, .hide{
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.icon-bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;   
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
} 
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
@include media-breakpoint-down(lg){
    nav{
        .navbar-brand{
            max-width: 160px;
            margin: 0 auto;
            text-align: center;
            left: 0;
            right: 0;
            margin-top: 7rem;
        }
    }
}
.modal-dialog{
    @media screen and (min-width: 992px){
        max-width: 80%;
    }
    background: #F8F8F8;
    border-radius: 22px;
    
    .modal-content{
        @media screen and (min-width: 992px){
            max-width: 80%;
        }
        margin: 0 auto;
        background: #F8F8F8;
        margin: 0 auto;
        border: none;
        @media screen and (min-width: 992px){
            padding: 4rem;
        }
    }
    .modal-header{
        border: none;
    }
}
.navbar{
    z-index: 9999999;
}
.modal{
    z-index: 99999999999999999999;
}