//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";
// navbar
@import "global/navbar.scss";
// footer
@import "structure/footer.scss";

body{
    @include media-breakpoint-down(sm){
        padding-top: 48px;
    }
    .navbar-brand{
        img{
            max-width: 120px;
        }
        margin-top: 3rem;
    }
}
.main{
    background-color: #05bb68;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    @include media-breakpoint-down(sm){
        background-position: center;
        height: 45vh;
    }
}
.countdown{
    background-image: url('../img/banner.png');
    // background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include media-breakpoint-up(md){
        background-attachment: fixed;
    }
}
.main{
    @include media-breakpoint-between (xl, lg){
        background-position: -80px 54px;
        height: 96vh;
    }
    @media screen and (min-width: 767px) and (max-width: 992px){
        height: 68vh;
    }
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}